<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= Time.local(@calender.year, @calender.month, 1).strftime('%B') %>

<table>
  <thead>
  <tr>
    <th>Day</th>
    <th>Entries</th>
    <th>Diff</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @calender.days.each do |day| %>
      <tr>
        <% time = Time.local(@calender.year, @calender.month, day.name)%>
        <td><%= day.name %>/<%= @calender.month%><br/> <%= time.strftime('%a')%></td>
        <%total = 0%>
        <%day.work_days.each do |entry|%>
            <%interval = entry.lunch.hour + entry.lunch.min / 60.0%>
            <%total += TimeDifference.between(entry.in_hour, entry.out_hour).in_hours - interval%>
        <%end%>
        <td><%= day.work_days.size%></td>
        <td><%= total%> hour(s)</td>

        <td><%= link_to 'New entry', controller: 'work_days', action: 'index',
                                        day: day.name, month: @calender.month, year: @calender.year%></td>
      </tr>
  <% end %>
  </tbody>
</table>

</p>

<%= link_to 'Back', calenders_path %>
