<%if method_mode.nil?%>
    <%form = work_day_path(day: @day, month: @month, year: @year)%>
<%else%>
    <%form =work_days_path(day: @day, month: @month, year: @year)%>
<%end%>
<%= form_for(@work_day, url: form) do |f|%>
  <% if @work_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_day.errors.count, 'error') %> prohibited this work_day from being saved:</h2>

      <ul>
      <% @work_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :in_hour %><br>
    <%= f.time_select :in_hour %>
  </div>
  <div class="field">
    <%= f.label :out_hour %><br>
    <%= f.time_select :out_hour %>
  </div>
  <div class="field">
    <%= f.label :lunch %><br>
    <%= f.time_select :lunch, {:default => {:hour => '1', :minute => '0'}} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
