<h1>Listing work_days</h1>

<%= @day%>/<%= @month%>/<%= @year%>

<table>
  <thead>
    <tr>
      <th>In hour</th>
      <th>Out hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_days.each do |work_day| %>
      <tr>
        <td><%= work_day.in_hour.strftime('%H:%M') %></td>
        <td><%= work_day.out_hour.strftime('%H:%M') %></td>
        <td><%= link_to 'Edit', edit_work_day_path(work_day, day: @day, month: @month, year: @year) %></td>
        <td><%= link_to 'Destroy', work_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work day', controller: 'work_days', action: 'new', day: @day, month: @month, year: @year %>
