<p id="notice"><%= notice %></p>

<p>
  <strong>In hour:</strong>
  <%= @work_day.in_hour.strftime('%H:%M') %>
</p>

<p>
  <strong>Out hour:</strong>
  <%= @work_day.out_hour.strftime('%H:%M') %>
</p>

<p>
  <strong>Lunch:</strong>
  <%= @work_day.lunch.strftime('%H:%M') %>
</p>

<%= link_to 'Edit', edit_work_day_path %> |
<%= link_to 'Back', controller: 'work_days', action: 'index', day: @day, month: @month, year: @year %>
